 body {
    background-color:  hsl(212, 45%, 89%);
    width: auto;
    height: auto;
     
 }
 .container{
    background-color: hsl(0, 0%, 100%);
    width:  250px;
    height: 400px;
    border-radius: 10px;
    position:  absolute;
    left:  40%;
    top:11%;
 
  
 }
  

 
 img{
    padding: 10px;
    width: 230px;
    height: 230px;
    border-radius: 13px;

 }
 .improve {
    font-size: 17px;
    font-weight: bold;
    text-align: center;

 }
   .QR { 
    text-align: center;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    padding:  0 10px;
   }
 .para{
    padding:  0 10px;
 }